<!DOCTYPE html>
<html lang="en" ng-app='resumeApp'>
<head>
	<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--	<script src="../bower_components/jquery/dist/jquery.min.js" async></script>-->
	<script src="../bower_components/angular/angular.min.js"></script>
<!--	<script src="js/main.js" async></script>-->
	<script src="js/app.js"></script>
	<link rel="stylesheet" href="css/styles.css">
	<link rel="stylesheet" href="css/media.css">
	<meta charset="UTF-8">
	<title>Danil Belkov - Resume</title>
</head>
<body ng-controller="MainCtrl">	
<!--   HEADER:begin		-->
	<header class="header">
		<div class="container-fluid">
			<div class="container">
				<div class="row">
					<div class="cont col-xs-12 col-sm-4 col-sm-offset-4 col-md-5 ">
						<div class="row">
							<h1 class="headerName">{{data.name}}</h1>
						</div>
						<div class="row">
						<h2 class="headerProf">{{}}</h2>
						</div>
					</div>
					<div class="headerButtons col-xs-8 col-xs-offset-2 col-sm-3 col-sm-offset-1 col-md-offset-0">
						<a href="DanilBelkovResume.pdf" class="headerBtnPdf btn btn-default col-xs-5 col-xs-offset-1 col-sm-12 col-sm-offset-0 col-md-5 col-md-offset-1">pdf</a>
						<button class="headerBtnPrint btn btn-default col-xs-5 col-xs-offset-1 col-sm-12 col-sm-offset-0 col-md-5 col-md-offset-1" onclick="window.print()">print</button>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!--   HEADER:end		-->
	
	<!--   MAIN:begin		-->
	<section class="main" ng-repeat='i in dataKeys'>
		<div class="container-fluid"> 
			<div class="container">
				<div class="mainContent">
					<div class="row">
						<h3 class="col-xs-12 col-sm-4 text-right">{{i}}</h3>
					</div>
					<div class="row" ng-repeat='n in dataKeys1'>				
						<header id="tel" class="col-xs-5 col-sm-2 col-sm-offset-2 text-right">{{n}}</header>
						<p class="col-xs-7">{{n}}</p>
					</div>
				</div>

				
<!--
				<div class="row">
					<header class="col-xs-5 col-sm-2 col-sm-offset-2 col-md-2 col-md-offset-2 col-lg-2 col-lg-offset-2 text-right">e-mail</header>
					<p class="col-xs-7"><a href="mailto:dbellkoff@live.com">dbellkoff@live.com</a></p>
				</div>
				<div class="row">
					<header class="col-xs-5 col-sm-2 col-sm-offset-2 col-md-2 col-md-offset-2 col-lg-2 col-lg-offset-2 text-right">GitHub</header>
					<p class="col-xs-7"><a href="https://github.com/dbellkoff">dbellkoff</a></p>
				</div>
				<div class="row">
					<header class="col-xs-5 col-sm-2 col-sm-offset-2 col-md-2 col-md-offset-2 col-lg-2 col-lg-offset-2 text-right">LinkedIn</header>
					<p class="col-xs-7"><a href="https://www.linkedin.com/in/dbellkoff">Danil Belkov</a></p>
				</div>
				<div class="row">
					<header class="col-xs-5 col-sm-2 col-sm-offset-2 col-md-2 col-md-offset-2 col-lg-2 col-lg-offset-2 text-right">Skype</header>
					<p class="col-xs-7"><a href="skype:bell.inc?add">bell.inc</a></p>
				</div>
				<div class="row">
					<header class="col-xs-5 col-sm-2 col-sm-offset-2 col-md-2 col-md-offset-2 col-lg-2 col-lg-offset-2 text-right">location</header>
					<p class="col-xs-7">Yekaterinburg, Russia</p>
				</div>
				<div class="row">
					<header class="col-xs-5 col-sm-2 col-sm-offset-2 col-md-2 col-md-offset-2 col-lg-2 col-lg-offset-2 text-right">languages</header>
					<p class="col-xs-7">English: pre-intermediate(tech docs reading), Russan: native</p>
				</div>
			</div>
-->
		</div>
	</section>
<!-- 	MAIN:end
	<section class="cover">
		<div class="container-fluid">
			<div class="container">
				<div class="coverText"></div>
			</div>
		</div>
	</section>
	SKILLS:begin
	<section class="Skills">
		<div class="container">
			<div class="container-fluid">
				<div class="row">
					<h3 class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-right">Summary of Qualification</h3>
				</div>
				<div class="skillsContent">
	<div class="row">
						<header class="col-xs-5 col-sm-2 col-sm-offset-2 col-md-2 col-md-offset-2 col-lg-2 col-lg-offset-2 text-right">development</header>
						<p class="col-xs-7">HTML5/CSS3, JavaScript, Python,  </p>
					</div>
					<div class="row">
						<header class="col-xs-5 col-sm-2 col-sm-offset-2 col-md-2 col-md-offset-2 col-lg-2 col-lg-offset-2 text-right">libraries and frameworks</header>
						<p>jQuery, Bootstrap, Scss, </p>
					</div>
					<div class="row">
						<header class="col-xs-5 col-sm-2 col-sm-offset-2 col-md-2 col-md-offset-2 col-lg-2 col-lg-offset-2 text-right">dev tools</header>
						<p>Git, Gulp, Bower</p>
					</div>				
					<div class="row">
						<header class="col-xs-5 col-sm-2 col-sm-offset-2 col-md-2 col-md-offset-2 col-lg-2 col-lg-offset-2 text-right">other</header>
						<p class="col-xs-7"></p>
					</div>
				</div>
			</div>
		</div>
	</section>
	HEADER:end
	
	WORKS:begin
		<section class="works">
			<div class="container">
				<div class="container-fluid">
					<div class="row">
						<h3 class="col-sm-4 col-md-4 col-lg-4 text-right">Work Experience</h3>
					</div>
					<div class="worksContent">
						
					</div>
	<div class="row">
						<header class="col-xs-5 col-sm-2 col-sm-offset-2 col-md-2 col-md-offset-2 col-lg-2 col-lg-offset-2 text-right">company</header>
						<p class="col-xs-7">Wayne Enterprises</p>
					</div>
					<div class="row">
						<header class="col-xs-5 col-sm-2 col-sm-offset-2 col-md-2 col-md-offset-2 col-lg-2 col-lg-offset-2 text-right">period</header>
						<p class="col-xs-7">996-2016</p>
					</div>
					<div class="row">
						<header class="col-xs-5 col-sm-2 col-sm-offset-2 col-md-2 col-md-offset-2 col-lg-2 col-lg-offset-2 text-right">position</header>
						<p class="col-xs-7">Batman</p>
					</div>
					<div class="row">
						<header class="col-xs-5 col-sm-2 col-sm-offset-2 col-md-2 col-md-offset-2 col-lg-2 col-lg-offset-2 text-right">project</header>
						<p>Gotham City Defence</p>
					</div>
				</div>
			</div>
		</section>
	WORKS:end
	
	EDU:end
	<section class="edu">
		<div class="container">
			<div class="container-fluid">
				<div class="row">
					<h3 class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-right">Education</h3>
				</div>
				<div class="educationContent">
					
				</div>
	<div class="row">
					<header class="col-xs-5 col-sm-2 col-sm-offset-2 col-md-2 col-md-offset-2 col-lg-2 col-lg-offset-2 text-right">2015</header>
					<p class="col-xs-7"><a href="http://www.freecodecamp.com/dbellkoff">FreeCodeCamp</a>- HTML/CSS, JS(jQuery), Bootstrap</p>
				</div>
				<div class="row">
					<header class="col-xs-5 col-sm-2 col-sm-offset-2 col-md-2 col-md-offset-2 col-lg-2 col-lg-offset-2 text-right"></header>
					<p class="col-xs-7"><a href="http://www.freecodecamp.com/dbellkoff">FreeCodeCamp</a>- HTML/CSS, JS(jQuery), Bootstrap</p>
				</div>
				<div class="row">
					<header class="col-xs-5 col-sm-2 col-sm-offset-2 col-md-2 col-md-offset-2 col-lg-2 col-lg-offset-2 text-right">2014-2015</header>
					<p class="col-xs-7"><a href="https://www.codecademy.com/dbellkoff">codecademy</a> - Python, SQL, HTML/CSS, JS, jQuery</p>
				</div>
				<div class="row">
					<header class="col-xs-5 col-sm-2 col-sm-offset-2 col-md-2 col-md-offset-2 col-lg-2 col-lg-offset-2 text-right">2016</header>
					<p class="col-xs-7">Т_Т</p>
				</div>
			</div>
		</div>
	</section>
	EDU:end
	 -->
	<!--	FOOTER:begin  -->
	<footer class="footer">
		<div class="container">
			<div class="container-fluid">
				<ul class="list-unstyled list-inline text-center">
					<li><a href="https://github.com/dbellkoff"><i class="fa fa-github-square fa-2x"></i>
</a></li>
					<li><a href="https://www.linkedin.com/in/dbellkoff"><i class="fa fa-linkedin-square fa-2x"></i>
</a></li>
					<li><a href="mailto:dbellkoff@live.com"><i class="fa fa-envelope fa-2x"></i>
</a></li>
				</ul>
			</div>
		</div>
	</footer>
	<!--	FOOTER:end  -->

</body>
</html>